.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-Mip9Q561feos);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-z93LISS4wKxy);
  font-family: var(--token-3nLlnMmeEg07);
  font-size: var(--token-Q_CZ80jBf4KI);
  line-height: var(--token-hbxQ4MoI25ky);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-e1hLedwOXBec);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-JuZEh2-8iOjn);
  outline-offset: 1px;
  outline-color: var(--token-Mip9Q561feos);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-WQ9DhVBuyYZh);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-UVieb0ppnKl4);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-xKGGgIS7r8A4);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-hbxvVG9rd_45);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-bzFZNF_6TxAh);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-Z0ysZZYuVNoS);
  font-size: var(--token-k-Cdd4zViig5);
  column-gap: var(--token-JuZEh2-8iOjn);
  row-gap: 0px;
  border-radius: var(--token-8XGHC20_OerE);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-k-Cdd4zViig5);
  line-height: var(--token-Z0ysZZYuVNoS);
  column-gap: var(--token-8XGHC20_OerE);
  row-gap: 0px;
  border-radius: var(--token-8XGHC20_OerE);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-oWGSeMWgamRU);
  line-height: var(--token-lrYauMdL6zcc);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-oWGSeMWgamRU);
  line-height: var(--token-lrYauMdL6zcc);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-A_QcecTLHp-I);
  border-radius: var(--token-e1hLedwOXBec);
}
.softBackgroundcolor_neutral {
  background: var(--token-7q5xQoDc_0XQ);
}
.softBackgroundcolor_muted {
  background: var(--token-WR4Ewqkn2QiD);
}
.softBackgroundcolor_success {
  background: var(--token-KWXMtDerBdPt);
}
.softBackgroundcolor_warning {
  background: var(--token-Ndma-4F_7yQm);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-QNPyvp8KMbKz);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-e1hLedwOXBec);
  border: 0px solid var(--token-ViGbm4_o8V7h);
}
.bordercolor_neutral {
  border-color: var(--token-urQMiqNrcK4t);
}
.bordercolor_muted {
  border-color: var(--token-tSkeTfGomiBa);
}
.bordercolor_success {
  border-color: var(--token-hYpz2Ql-_Jkw);
}
.bordercolor_warning {
  border-color: var(--token-TVQhVgWP6-Rn);
}
.bordercolor_errorDestructive {
  border-color: var(--token-RXWkupNVz8AF);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-e1hLedwOXBec);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-MMDilZNhDS8l);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-4UrnInlph2Sg);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-m6O9EX7IIw5v);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__dzkNn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-e1hLedwOXBec);
  min-width: 0;
  min-height: 0;
  padding: var(--token-e1hLedwOXBec) var(--token-X1EYzEhCJ1GW);
}
.freeBoxsize_extraSmall__dzkNn6K63E {
  padding: var(--token-8XGHC20_OerE) var(--token-e1hLedwOXBec);
}
.freeBoxsize_small__dzkNnIaFi3 {
  padding: var(--token-e1hLedwOXBec) var(--token-z93LISS4wKxy);
}
.freeBoxsize_large__dzkNnVzYR {
  padding-top: var(--token-8XGHC20_OerE);
  padding-bottom: var(--token-8XGHC20_OerE);
}
.freeBoxsize_extraLarge__dzkNnnOkJ6 {
  padding-left: var(--token-s9-9oHznNFjQ);
  padding-right: var(--token-s9-9oHznNFjQ);
}
.freeBoxroundedFull__dzkNnDjuZz {
  padding-right: var(--token-s9-9oHznNFjQ);
  padding-left: var(--token-s9-9oHznNFjQ);
}
.freeBox__hbK90 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__hbK90AIuXe {
  display: flex;
}
.slotTargetStart {
  color: var(--token-TsegrcZt9mio);
}
.slotTargetStartcolor_neutral {
  color: var(--token-VdJGwOeTBlLZ);
}
.slotTargetStartcolor_muted {
  color: var(--token-6j_x6YYRuL-I);
}
.slotTargetStartcolor_success {
  color: var(--token-LlunxALNZ9Wc);
}
.slotTargetStartcolor_warning {
  color: var(--token--obw8iHUlLrf);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-zojUYKjg1gtq);
}
.slotTargetStarttype_soft {
  color: var(--token-hblfgEWZ0WOh);
}
.slotTargetStarttype_bordered {
  color: var(--token-hblfgEWZ0WOh);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-k-Cdd4zViig5);
}
.slotTargetStartsize_small {
  font-size: var(--token-k-Cdd4zViig5);
}
.slotTargetStartsize_large {
  font-size: var(--token-oWGSeMWgamRU);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-oWGSeMWgamRU);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-xnOvLzH31Oi3);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-xnOvLzH31Oi3);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-cidJHd6OeOL3);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-cidJHd6OeOL3);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-cqQj90QMV_H0);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-cqQj90QMV_H0);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-rMczZ-Ca7Txy);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-rMczZ-Ca7Txy);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-PiW99UhtTx2G);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-PiW99UhtTx2G);
}
.svg__e8Vwg {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-TsegrcZt9mio);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-VdJGwOeTBlLZ);
}
.slotTargetLabelcolor_muted {
  color: var(--token-6j_x6YYRuL-I);
}
.slotTargetLabelcolor_success {
  color: var(--token-LlunxALNZ9Wc);
}
.slotTargetLabelcolor_warning {
  color: var(--token--obw8iHUlLrf);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-zojUYKjg1gtq);
}
.slotTargetLabeltype_soft {
  color: var(--token-hblfgEWZ0WOh);
}
.slotTargetLabeltype_bordered {
  color: var(--token-hblfgEWZ0WOh);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-xnOvLzH31Oi3);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-cidJHd6OeOL3);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-xnOvLzH31Oi3);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-cqQj90QMV_H0);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-cidJHd6OeOL3);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-rMczZ-Ca7Txy);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-cqQj90QMV_H0);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-PiW99UhtTx2G);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-rMczZ-Ca7Txy);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-PiW99UhtTx2G);
}
.text__ece36 {
  white-space: pre;
}
.freeBox___0VL1Q {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___0VL1QkaiL {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-TsegrcZt9mio);
}
.slotTargetEndcolor_neutral {
  color: var(--token-VdJGwOeTBlLZ);
}
.slotTargetEndcolor_muted {
  color: var(--token-6j_x6YYRuL-I);
}
.slotTargetEndcolor_success {
  color: var(--token-LlunxALNZ9Wc);
}
.slotTargetEndcolor_warning {
  color: var(--token--obw8iHUlLrf);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-zojUYKjg1gtq);
}
.slotTargetEndtype_soft {
  color: var(--token-hblfgEWZ0WOh);
}
.slotTargetEndtype_bordered {
  color: var(--token-hblfgEWZ0WOh);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-k-Cdd4zViig5);
}
.slotTargetEndsize_small {
  font-size: var(--token-k-Cdd4zViig5);
}
.slotTargetEndsize_large {
  font-size: var(--token-oWGSeMWgamRU);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-oWGSeMWgamRU);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-xnOvLzH31Oi3);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-xnOvLzH31Oi3);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-cidJHd6OeOL3);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-cidJHd6OeOL3);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-cqQj90QMV_H0);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-cqQj90QMV_H0);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-rMczZ-Ca7Txy);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-rMczZ-Ca7Txy);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-PiW99UhtTx2G);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-PiW99UhtTx2G);
}
.svg__kg2YG {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
