.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__mqSfL {
  animation: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background:
    linear-gradient(#000000a1, #000000a1),
    url("/plasmic/kinect_academy_inc/images/buildingBNewJpg.jpg") left 50% top 50% / cover repeat;
  height: auto;
  align-self: center;
  margin-bottom: -17px;
  min-width: 0;
  padding: 1px 32px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mqSfL {
    animation: none;
    padding: 6px 20px 85px;
  }
}
.freeBox___0MMxs {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  column-gap: 16px;
  min-width: 0;
  padding: 26px 16px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0MMxs {
    animation: none;
    width: 100%;
    min-width: 0;
    padding: 15px 0px 0px;
  }
}
.freeBox__haVy9 {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  column-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__haVy9 {
    animation: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.freeBox__haUl7 {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__haUl7 {
    animation: none;
  }
}
.img__b3Dlz {
  animation: none;
  object-fit: cover;
  width: 96px;
}
.img__b3Dlz > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__b3Dlz {
    animation: none;
  }
}
.freeBox__xywXt {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 27px;
  column-gap: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xywXt {
    animation: none;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }
}
.link__uUfyF {
  animation: none;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  color: var(--token-Dd6gyjIVe7XT);
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__uUfyF {
    animation: none;
    padding: 10px 6px;
  }
}
.root .link__uUfyF:hover {
  animation: none;
  background: #000000b3;
}
.svg__h2Ig3 {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__qo7UX {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qo7UX {
    animation: none;
  }
}
.svg__lpztE {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__frgj {
  animation: none;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__frgj {
    animation: none;
    padding: var(--token-hhx7VSpPreDb);
  }
}
.svg__vImFe {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__q64I {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__q64I {
    animation: none;
  }
}
.svg__h86C {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__xy4Wd {
  animation: none;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__xy4Wd {
    animation: none;
    padding: var(--token-hhx7VSpPreDb);
  }
}
.svg___5CdQ9 {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__uiSig {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uiSig {
    animation: none;
  }
}
.svg__cgdxx {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__uqhR3 {
  animation: none;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__uqhR3 {
    animation: none;
    padding: var(--token-hhx7VSpPreDb);
  }
}
.root .link__uqhR3:hover {
  animation: none;
  background: #000000b3;
}
.svg__zUFff {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__jRiUz {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: none;
}
.svg__rx4Ek {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__q27K {
  animation: none;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  color: var(--token-Dd6gyjIVe7XT);
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__q27K {
    animation: none;
    padding: var(--token-hhx7VSpPreDb);
  }
}
.root .link__q27K:hover {
  animation: none;
  background: #000000b3;
}
.svg__rEoN {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__zeXvY {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: none;
}
.svg__yVpCu {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__seGo {
  animation: none;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.button__kgaRc {
  animation: none;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  border-radius: 6px;
  border-width: 0px;
}
.link__cp1Xo {
  animation: none;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg__cbWqc {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__hszMw {
  animation: none;
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__vziVt {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.foreground2 {
  animation: none;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  row-gap: 32px;
  min-width: 0;
  min-height: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground2 {
    animation: none;
    padding-top: 17px;
  }
}
.freeBox__yS8Fr {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 689px;
  height: auto;
  max-width: 100%;
  margin-top: 168px;
  background: none;
  row-gap: 20px;
  border-radius: 12px;
  padding: 30px;
  border: 1px solid #cccccc57;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yS8Fr {
    animation: none;
    margin-top: 25px;
    padding: 20px;
  }
}
.h1__vwtb4 {
  animation: none;
  padding-bottom: 0px;
  max-width: none;
  width: 100%;
  background: none;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 62px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__vwtb4 {
    animation: none;
    padding-top: 0px;
    font-size: 28px;
    padding-bottom: 4px;
  }
}
.text__mWfQp {
  font-size: 20px;
  font-weight: 700;
  color: var(--token-Dd6gyjIVe7XT);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  animation: none;
  max-width: none;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mWfQp {
    animation: none;
    font-size: 16px;
  }
}
.registerLink:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 150px;
  align-self: center;
  transform: translate3d(0px, 0px, 0px);
  width: auto;
}
.svg___5D2S6 {
  animation: none;
  position: relative;
  height: 1em;
}
.text__m6Hpx {
  animation: none;
  white-space: pre;
  font-weight: 700;
}
.svg__e5ZsA {
  animation: none;
  position: relative;
  height: 1em;
}
.freeBox__xcgIg {
  animation: none;
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 100%;
  bottom: auto;
  min-width: 0;
  padding: 161px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xcgIg {
    animation: none;
    margin-top: 0px;
    padding-top: 86px;
  }
}
.svg__zhq95 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
  width: 50px;
  flex-shrink: 0;
}
.freeBox__twUc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #eeeeee;
  margin-top: 0px;
  min-width: 0;
  padding: 68px 8px 17px;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img__ckSaZ {
  object-fit: cover;
}
.img__ckSaZ > picture > img {
  object-fit: cover;
}
.freeBox__bfmLl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1200px;
  min-width: 0;
  padding: 8px 8px 34px;
}
.freeBox__l2OX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__rZgxV {
  font-size: 20px;
  font-weight: 600;
  color: var(--token-tZp7hBLVkmfE);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  max-width: none;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 0px 4px;
}
.h2__f94 {
  max-width: none;
  width: 100%;
  background: none;
  text-align: center;
  margin-bottom: 0px;
  min-width: 0;
  padding: 7px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__f94 {
    font-size: 28px;
  }
}
.section__phMtY {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: none;
  width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 37px 0px 58px;
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 960px;
  width: 100%;
  row-gap: 48px;
  min-width: 0;
}
.freeBox__y6S8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 960px;
  row-gap: 48px;
}
.h1__sgxzz {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-hblfgEWZ0WOh);
  min-width: 0;
}
.text__zFd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #000000;
  font-size: 18px;
  min-width: 0;
}
.freeBox__b0UiW {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b0UiW {
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 30px;
  }
}
.freeBox__ye56M {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: center;
  column-gap: 16px;
  row-gap: 12px;
  min-width: 0;
}
.freeBox__qx0M {
  background: var(--token-tZp7hBLVkmfE);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 8px;
}
.svg__jfOW {
  object-fit: cover;
  width: 50px;
  height: 50px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__xGshd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.h3__mZnE {
  margin-top: 0px;
  text-align: center;
}
.text___2AhGo {
  padding-top: 0px;
  text-align: center;
  color: #000000;
}
.freeBox__tkLh {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: center;
  column-gap: 16px;
  row-gap: 12px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tkLh {
    row-gap: 4px;
    column-gap: 0px;
  }
}
.freeBox__iiiRq {
  background: var(--token-tZp7hBLVkmfE);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 8px;
}
.svg___7Ccl9 {
  object-fit: cover;
  width: 50px;
  height: 50px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__ybw1E {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__ppSr {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___6Lr9T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.h3__ykATk {
  text-align: center;
}
.text__go70Z {
  text-align: center;
  color: #000000;
}
.freeBox___9WJrz {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background:
    linear-gradient(#000000e8, #000000e8),
    url("/plasmic/kinect_academy_inc/images/pexelsSolomanSoh1492232Jpg.jpg") top 50% left 50% / cover repeat fixed;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 0px 8px 30px;
}
.freeBox__uZUzq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1200px;
  min-width: 0;
  padding: 8px 8px 34px;
}
.freeBox__uxsMw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 74px 8px 8px;
}
.text__o5Esk {
  font-size: 20px;
  font-weight: 600;
  color: var(--token-Dd6gyjIVe7XT);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  max-width: none;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 0px 4px;
}
.h2__eThI5 {
  max-width: none;
  width: 100%;
  background: none;
  text-align: center;
  color: var(--token-fWraxX39UYFB);
  min-width: 0;
  padding: 0px;
}
.section___7GtU {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: none;
  width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 37px 0px 58px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___7GtU {
    flex-wrap: wrap;
    align-items: unset;
    padding-top: 0px;
    padding-bottom: 26px;
  }
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 960px;
  width: 100%;
  row-gap: 48px;
  min-width: 0;
}
.freeBox__wmbIf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 960px;
  row-gap: 48px;
}
.freeBox__hvVpJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hvVpJ {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__nGgJt {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: center;
  column-gap: 16px;
  row-gap: 0px;
  min-width: 0;
}
.freeBox__v6OGy {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 1px;
  border-radius: 8px;
  padding: 0px;
}
.img__kyrVt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__kyrVt > picture > img {
  object-fit: cover;
}
.freeBox__myZvX {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg__dD3Vn {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__eQfve {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-fWraxX39UYFB);
  row-gap: 10px;
  padding: 30px 15px;
  border-bottom: 5px solid var(--token-Dd6gyjIVe7XT);
}
.h3__nkHbb {
  margin-top: 0px;
  padding-top: 0px;
  color: var(--token-tZp7hBLVkmfE);
}
.text___54GP {
  padding-top: 0px;
  margin-bottom: 0px;
}
.freeBox__rd4Wv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 150px;
  height: auto;
  max-width: 100%;
  margin-top: 14px;
  padding: 0px;
}
.button___2OVs5:global(.__wab_instance) {
  max-width: none;
}
.svg__zBdCa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__a4AZw {
  text-transform: uppercase;
  color: var(--token-fWraxX39UYFB);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}
.svg__vyhMe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__n1Y0N {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: center;
  column-gap: 16px;
  row-gap: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n1Y0N {
    padding-top: 38px;
  }
}
.freeBox__aqhT3 {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 1px;
  border-radius: 8px;
  padding: 0px;
}
.img__ugm4V {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ugm4V > picture > img {
  object-fit: cover;
}
.freeBox__t1Cqu {
  background: #0000001a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
}
.svg___63ECr {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__d6QNe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-fWraxX39UYFB);
  row-gap: 10px;
  padding: 30px 15px;
  border-bottom: 5px solid var(--token-Dd6gyjIVe7XT);
}
.h3__lb0PY {
  margin-top: 0px;
  color: var(--token-tZp7hBLVkmfE);
}
.text__onuE {
  padding-top: 0px;
  margin-bottom: 0px;
}
.freeBox__q1Yqz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 150px;
  height: auto;
  max-width: 100%;
  margin-top: 14px;
  padding: 0px;
}
.button__bhu0Z:global(.__wab_instance) {
  max-width: none;
}
.svg___4NY3S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dkja2 {
  text-transform: uppercase;
  color: var(--token-fWraxX39UYFB);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}
.svg__y63Tr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___0Es4Y {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #eeeeee;
  min-width: 0;
  padding: 8px;
}
.freeBox__dotqH {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 56px 128px 66px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dotqH {
    width: 100%;
    min-width: 0;
    padding: 47px 20px 55px;
  }
}
.text__hypMw {
  font-size: 20px;
  font-weight: 600;
  color: var(--token-tZp7hBLVkmfE);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 2px;
  max-width: none;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 0px 4px;
}
.h2__q58GK {
  max-width: none;
  width: 100%;
  background: none;
  margin-top: 0px;
  margin-bottom: 34px;
  text-align: center;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__q58GK {
    font-size: 25px;
  }
}
.freeBox___44P7I {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  max-width: 1080px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 64px;
  row-gap: 32px;
}
.img__lx2D5 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 98px;
}
.img__lx2D5 > picture > img {
  object-fit: cover;
}
.img__lqqwg {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 98px;
}
.img__lqqwg > picture > img {
  object-fit: cover;
}
.img__a959L {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
  display: none;
}
.img__a959L > picture > img {
  object-fit: cover;
}
.img__aP3Ze {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
  display: none;
}
.img__aP3Ze > picture > img {
  object-fit: cover;
}
.freeBox___2OaBb {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #eeeeee;
  min-width: 0;
  padding: 0px;
}
.freeBox__vt8K {
  animation: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background:
    linear-gradient(#000000d1, #000000d1),
    url("/plasmic/kinect_academy_inc/images/pexelsScottWebb2346594Jpg.jpg") top 50% left 50% / cover no-repeat;
  min-width: 0;
  padding: 85px 64px 91px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vt8K {
    animation: none;
    padding: 45px 30px 53px;
  }
}
.freeBox__bdxWp {
  animation: none;
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  column-gap: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bdxWp {
    animation: none;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    column-gap: 0px;
  }
}
.freeBox__koFiJ {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  row-gap: 32px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__koFiJ {
    animation: none;
  }
}
.img__qkqSd {
  animation: none;
  object-fit: cover;
  width: 200px;
  position: relative;
}
.img__qkqSd > picture > img {
  object-fit: cover;
}
.freeBox__exm18 {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 16px;
}
.text__xXqD {
  animation: none;
  color: #ffffff;
}
.freeBox___731Va {
  animation: none;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 12px;
}
.svg__hgIl7 {
  animation: none;
  object-fit: cover;
  width: 40px;
  height: 50px;
  color: var(--token-fWraxX39UYFB);
  cursor: auto;
  flex-shrink: 0;
  margin: 0px;
}
.root .svg__hgIl7:hover {
  animation: none;
  cursor: pointer;
}
.svg__uCxm2 {
  animation: none;
  object-fit: cover;
  width: 40px;
  height: 50px;
  color: var(--token-fWraxX39UYFB);
  flex-shrink: 0;
}
.root .svg__uCxm2:hover {
  animation: none;
  cursor: pointer;
}
.svg___0PsC {
  animation: none;
  object-fit: cover;
  width: 40px;
  height: 50px;
  color: var(--token-fWraxX39UYFB);
  flex-shrink: 0;
}
.root .svg___0PsC:hover {
  animation: none;
  cursor: pointer;
}
.freeBox__pyYqz {
  animation: none;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  min-width: 0;
  display: none;
}
.h3__d5BgN {
  animation: none;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  padding-left: 0px;
  color: var(--token-fWraxX39UYFB);
}
.link__yl4De {
  animation: none;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.svg__fuxdw {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___87DeK {
  animation: none;
  height: auto;
  color: var(--token-fWraxX39UYFB);
}
.svg__kLgwx {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__lbsoX {
  animation: none;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.svg___1CgU7 {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__piavm {
  animation: none;
  height: auto;
  color: var(--token-fWraxX39UYFB);
}
.svg__duLrd {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__fsZ4H {
  animation: none;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.svg__kzOoF {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__rK6V {
  animation: none;
  height: auto;
  color: var(--token-fWraxX39UYFB);
}
.svg__exbWu {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox___9NV8 {
  animation: none;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  min-width: 0;
  display: none;
}
.h3___5V5Pr {
  animation: none;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: var(--token-fWraxX39UYFB);
}
.link__adjV8 {
  animation: none;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.svg__sbVv9 {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__fuain {
  animation: none;
  height: auto;
  color: var(--token-fWraxX39UYFB);
}
.svg__dFr4E {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__vilb7 {
  animation: none;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.svg__cJvhH {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__oakwV {
  animation: none;
  height: auto;
  color: var(--token-fWraxX39UYFB);
}
.svg___7OeK {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__q1SSt {
  animation: none;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.svg__kve1M {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__etBeY {
  animation: none;
  height: auto;
  color: var(--token-fWraxX39UYFB);
}
.svg__zPoE {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link___44W4C {
  animation: none;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.svg__zGl86 {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__mnJhu {
  animation: none;
  height: auto;
  color: var(--token-fWraxX39UYFB);
}
.svg__wgmsF {
  animation: none;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__r44Z {
  animation: none;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  min-width: 0;
}
.h3__xVsEr {
  animation: none;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: var(--token-fWraxX39UYFB);
}
.text__ji9H7 {
  animation: none;
  position: relative;
  height: auto;
  color: var(--token-fWraxX39UYFB);
}
.text__i7Yp {
  animation: none;
  position: relative;
  height: auto;
  color: var(--token-fWraxX39UYFB);
}
.text__gj6Yp {
  animation: none;
  position: relative;
  height: auto;
  color: var(--token-fWraxX39UYFB);
}
.text__qhxh6 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fWraxX39UYFB);
  text-align: center;
  margin-top: 45px;
  min-width: 0;
}
.link__p1MBu {
  animation: none;
  color: var(--token-Dd6gyjIVe7XT);
}
